.map {
    flex: 1;
    background-color: #f9fafb;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .map img {
    max-width: 100%;
    max-height: 100%;
  }
  